<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Page recette{% endblock %}</title>
</head>

<body>


    {% block main %}
      <main>

      </main>
    {% endblock %}

</body>

  {% block footer%}
      <footer>

      </footer>
  {% endblock %}


  {% block javascript %}

  {% endblock %}
</html>
<header>
    {% block menu %}

    {% endblock %}
</header>
